

<div class="product-card">
    <img [src]="product.imagePath" alt="{{ product.imagePath }}" class="product-image" />
    <div class="product-info">
      <h2 class="product-name box">{{ product.name }}</h2>
      <p class="product-description">{{ product.description }}</p>
      <p class="product-price">\${{ product.price }}</p>
      <p class="product-stock" >
        {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
      </p>
      <button (click)="f1()">Click me to call f1()</button>
    </div>
  </div>
  